.main{
	width: 1007px;
	margin:6px auto;
	box-shadow: 1px 2px 6px 1px rgba(180, 180, 180, 0.4);
}

.main-er{
	height: 380px; 
}
.main-er img{
	margin-top:10px; 
	height: 350px;
}
.right-head a{
	color: #000;
	margin: 0 0 0 1267px;
}
.right-head a:hover{
	color: #777;
}
.foot-Bar{
	height: 238px;
}
p{
	padding: 9px 0 0 18px;
}
.foot-reco{
	margin-right:18px;
}
.foot-reco a{
	color: #333;
	font-size: 15px;
	text-decoration: none;
}
.foot-reco a:hover{
	color: black;
}
.foot-Bar-pho{
	margin: 0 8px 0 5px;
}
.b-pho{
	padding-left: 10px;
}

.b-pho img{
	width:196px;
	height: 190px;
	float: left;
	padding-right: 10px;
}